 body{
	padding:0px;
	margin: 0px;
}

#grid{
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(10, 10%);
	/* grid-template-columns: 5% 30% 30% 30% 5%; */
	grid-template-rows: 25% 45% auto;

	grid-template-areas:
    "header header header header header header header header header header"
    ". articles articles . builds builds . data data ."
    ". article-desc article-desc . build-desc build-desc . data-desc data-desc .";
}

#art{
	grid-column:1 / 5;
  grid-row:2;
	background-color: rgba(0, 0, 255, 0.3);
}


#bui{
	grid-column:4/ 8;
  grid-row:2;
	background-color: rgba(0, 255, 255, 0.3);
}


#dat{
	grid-column:7 / 11;
  grid-row:2;
	background-color: rgba(255, 0, 0, 0.3);
}

.circle{
	border: solid 3px black;
	border-radius: 50%;
}


#header{
	grid-area: header;
	}

.table{
	display: table;
}

#articles{
grid-area: articles;}
#articles section {
display: table-cell;
vertical-align: middle;
/* height: 100%; */
/* margin-top:100%; */
}
#builds {
	grid-area: builds;
	}
#data{
	grid-area: data;
}

#header{
	grid-area: header;
	}
#article-desc{
grid-area: article-desc;
}
#build-desc{
	grid-area: build-desc;
	}
#data-desc{
	grid-area: data-desc;
}




/*
.main{
	height: 100vh;
	width:100%;
	display: grid;
	grid-template-columns: 5% 30% 30% 30% 5%;
	grid-template-rows: 30% auto;
}
#background-pic{
	grid-row-start: 2;
	grid-column-start: 2;
	grid-column-end: 5;
	overflow-y: hidden;
	background-color: black;
}
#b-pic{
	width: 100%
}
#background-about{
	background-color: black;
	grid-row-start: 1;
	grid-column-start: 2;
	grid-column-end: 5;
	height: 100%;
}
#about{
	grid-row-start: 1;
	grid-column-start: 2;
	grid-column-end: 5;
	height: 100%;
}
.button-link{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
			background-color: rgba(0,0,0, .4);
}
.button-link:hover{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .4);
	color: rgb(48,48,48)

} */
/* .tint-color2:hover{
	background-color: rgba(68,68,68, 0);
	border-radius: 10px;
} */
/* #articles{
	grid-row-start: 2;
	grid-column-start: 2;
	height: 100%;
	}
#builds{
	grid-row-start: 2;
	grid-column-start: 3;
	height: 100%;

}
#data{
	grid-row-start: 2;
	grid-column-start: 4;
	height: 100%;
}

#tint >span{
	height: 100%;
	width: 100%;
	display: block;
} */
/* .button-link{
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	/*background-color: rgba(49, 8, 33, .75);*/
/*	background-color: var(--navbar-color)*/

/* }  */
/*
.tint-color{
	background-color: var(--navbar-color);
	} */
	/* .tint-color2{
		background-color: rgba(68,68,68, .2);
		} */
/* .button-link > span {
	display: table-cell;
  	text-align: center;
  	vertical-align: middle;


}

.button-link >span:hover{

/*	border: var(--base-color) solid 3px;*/
}
.font-med-large{
	font-size:40px;
}
.walls{ */
/*	border-left: var(--text-color) solid 4px;
	border-right: var(--text-color) solid 4px;*/
	/* border-left: white solid 4px;
	border-right: white solid 4px;
}

#tint{
 display: none;
}

@media only screen and (max-width: 800px){
	.main{
		height: 100vh;
		width:100%;
		display: grid;
		grid-template-rows: 15% 40% auto;
	}

#tint{
	grid-column: 2/span 3;
	grid-row-start: 3;
	height: 100%;
	display: block !important;
	background-color: #000;
}

	}

@media only screen and (max-width: 700px){
	body{
		background-color: var(--navbar-color);
		padding-bottom: 0px;
		font-size: 5px;
	}
.font-med{
	    font-size: calc(2em + 1vmin) !important;
	  }
.font-med-large{
			   font-size: calc(7em + 1vmin) !important;
			  }


.main{
	height: 100vh;
	grid-template-columns: 100%;
	grid-template-rows: 18% 16% 16% 20% auto;
}
#background-pic{
	grid-column-start: 1;
	grid-row-start: 2;
	grid-row-end: 6;
	overflow-x: hidden;
	background-color: black;
}
#b-pic{
	height:100%;
}
#background-about{
	grid-column-start: 1;
	background-color: black;
	grid-row-start: 1;
	height: 100%;
}
#about{
	grid-column-start: 1;
	grid-row-start: 1;
	height: 100%; */
/*	background-color: black;*/
/* }
#articles{
	grid-column-start: 1;
	grid-row-start: 2;
	}
#builds{
	grid-column-start: 1;
	grid-row-start: 3;
}
#data{
	grid-column-start: 1;
	grid-row: 4;
}
#tint{
	grid-column-start: 1;
	grid-row-start: 5;
	height: 100%;
	display: block !important;
}
.button-link > span {
	display: block;
	width: 88%;
	padding-left: 6%;
	 padding-right: 6%;
}


.walls{ */
/*	border-left: var(--text-color) solid 4px;
	border-right: var(--text-color) solid 4px;*/
	/* border-left: none;
	border-right: none;
}
	} */
