
/*Active page button*/

.this-page{
	background-color: var(--hover-color);
	border-radius: 10px;

}

/*base body features*/
body{
	padding: 0px;
	margin: 0px;
	font-size: 15px;
	color: var(--text);
	background-color: var(--base-color);
}

/*Grid*/
.container{
	height: 100vh;
	display: grid;

	/*Desktop Grid*/
	grid-template-columns: 5%  25% auto 5%;
  	grid-template-rows: 10% auto ;

}

/*logo area*/
.home{
/*	position: relative;*/
/*	display: table;*/
	grid-column-start: 1;
	grid-column-end: 3;

/*	width: 100%;
	height: 100%;*/

	background-color: var(--home-color);
/*	border-radius: 10px 0px 0px 10px;*/

	font-size: 192%;
	/*text-align: center;*/

}
.home > span{
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
}


.home > span > a{
	display: table-cell;
  	text-align: center;
  	vertical-align: middle;

}

.home > span > a:hover{
	background-color: var(--hover-color);
	border-radius: 10px;
	}


.navbar{
	grid-column-start: 3;
	grid-column-end: 5;
	background-color: var(--navbar-color);

}

.navbar > span{
	display: flex;
	height:100%;
	width: 100%;
}

.navbar > span > p{
	text-align: center;
	display: table;

	margin: 0px;
	width: 25%;
	height: 100%;

	font-size: 20px;
}

.navbar > span > p > a{
	display: table-cell;
  	text-align: center;
  	vertical-align: middle;

  	font-size:20px;
}

.navbar > span > p:hover{
	background-color: var(--hover-color);
	border-radius: 10px;
}


/*Mobile CSS*/
@media only screen and (max-width: 900px){
	.container{
	/*Mobile Grid*/
/*	background-color: gray;*/
	grid-template-columns: 100% ;
  	grid-template-rows: 10% 10% auto;
}

.home{
	grid-column-start: 1;
 	grid-row-start: 1;
 	border-radius: 0px;
}
.navbar{
	grid-column-start: 1;
 	grid-row-start: 2;
 	border-radius: 0px;
}


.navbar > span > p{
	width:25%;
	padding: 0px;
	margin:0px;

}

}
