

.flex-container{
	/*Grid Position*/
	grid-column-start: 2;
  	grid-column-end: 4;
 	grid-row-start: 2;

	/*Flex Container*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;

}

.description{
	height: 40px;
	width:100%;

	padding-top: 10px;
	margin-bottom: 15px;

	text-align: center;
	font-size: 25px;
	color:#120F0C;

}
.flex-container > a{
	color: inherit; 
  	text-decoration: inherit; 

	width: 30%;
	height: 250px;
	border-radius: 10px;
	margin-bottom: 30px;
	border: solid var(--text-color) 4px;
	overflow: hidden;

	max-width: 400px;
	min-width: 250px;

	}

.box{
	color: var(--text);
	position: relative;
}
.box-background{

	height:250px;
	overflow-y:hidden;

	width:100%;
	position: absolute;
	z-index: 1;
	background-color: black;
}

.box-background >img{
	width:100%;

}
.text-background{
	z-index: 2;
	position: absolute;
	width: 100%;
	height:250px;
	background-color: var(--text-color);
	opacity: .5;

}


.title{
	z-index: 3;
	position: absolute;

	width: 98%;
	margin-top: 10px;
	height: 100px;
	line-height: 45px;

	padding-right: 1%;
	padding-left: 1%;

	font-size: 35px;
	text-align: center;


}

.quote{
	z-index: 4;
	position: absolute;

	width: 90%;
	margin-top:110px;
	padding-left:2%;
	padding-right: 2%; 
	margin-right:3%;
	margin-left: 3%;
	padding: 2%;
	border-radius: 10px;
	
	vertical-align:bottom;
	color: black;
	
	background-color: rgba(250, 250, 250, .65);
}



/*Mobile CSS*/
@media only screen and (max-width: 900px){

.flex-container{
	grid-column-start: 1;
 	grid-row-start: 3;
}

.title{
	font-size: 30px;
}


.navbar > p{
	width:25%;
	padding: 0px;
	margin:0px;

}
.description{
	padding-top: 20px;
	line-height: 30px;
	padding-bottom: 20px;
	width:100%;
	text-align: center;

}

.flex-container > a{
	width: 75%;
	margin-left: 50px;
	margin-right: 50px;
}
}
}

@media only screen and (max-width: 400px){


.box-background >img{
	height: 100%;
}
}