.entry-space{
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
	padding-bottom: 15px;
	justify-content: space-around;
}

.picture{
	width: 35%;
	position: relative;
}
.picture > img{
	width: 100%;
	border-radius: 10px;
	border: solid var(--text-color) 4px;
}
.info{
	width:55%;
	line-height: 17px;
}
p.abril{
	color:var(--text-color);
}

.links{
	display: flex;
	flex-wrap: wrap;
}

.links > a{
	width: 25%;
	text-align: center;
	padding: 10px 0px 10px 0px;
}
.links > a:hover{
	color: var(--text);
	background-color: var(--hover-color);
	border-radius: 10px;
}
@media only screen and (max-width: 600px){
	.picture{
	width: 75%;
	height: 250px;
	overflow-y:hidden;
	border-radius: 10px;
	border: solid var(--text-color) 4px;
	}

	.picture > img{
	width: 100%;
	border-radius: 0px;
	border: none;

}
.about-name{
	line-height:45px;

}
.info{
	width: 90%;
}
.links > a{
	width: 25%;
	padding: 1px 0px 1px 0px;
}
}
