body{
	padding: 0px;
	margin: 0px;
	background-color: purple;
}

.container{
	height:100vh;
	background-color:;
	display: grid;
	/*Desktop Grid*/
/*	background-color: pink;*/
	grid-template-columns: 10% auto;
  	grid-template-rows: 20% auto;

}

@media only screen and (max-width: 600px){
	.container{
	/*Mobile Grid*/
	background-color: green;
	grid-template-columns:100%;
  	grid-template-rows: 10% 20% auto;
}
}