@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Bowlby One SC|Rajdhani|Questrial');

body {
	/* background: rgba(55, 35, 94, .5); */
	margin:0;
	background-color: var(--color-blue);
}

nav{
	background: rgba(0,0,0, 0.5);
}


/*FOR DEMO ONLY*/
#padder {
  margin: 20px;
  padding: 20px;
}
/*END FOR DEMO ONLY*/

#orlink{
  text-align: center;
}

#orlink > a{
	color: var(--color-navy);
}


/*Main header*/



img{
  width: 20%;
  height:20vw;
  outline:1px black solid;
}
.i1{
  background-color:#F44336;
  position: absolute;
  display: block;
  margin-top: 0vw;
  width: 20%;
  height: 20vw;
}

.i2{
  position: absolute;
  display: block;
  margin-top: 0vw;
  margin-left:20%;
}
.i3{
  position: absolute;
  display: block;
  margin-top: 0vw;
  margin-left:40%;
}
.i4{
  position: absolute;
  display: block;
  margin-top: 0vw;
  margin-left:60%;
}
.i5{
  position: absolute;
  display: block;
  margin-top: 0vw;
  margin-left:80%;
}

.i6{
  position: absolute;
  display: block;
  margin-top: 20vw;
  margin-left:80%;
}
.i7{
  position: absolute;
  display: block;
  margin-top: 40vw;
  margin-left:80%;
}
.i8{
  position: absolute;
  display: block;
  margin-top: 60vw;
  margin-left:80%;
}
.i9{
  position: absolute;
  display: block;
  margin-top: 80vw;
  margin-left:80%;
}
.i10{
  position: absolute;
  display: block;
  margin-top: 80vw;
  margin-left:60%;
}

.i11{
  position: absolute;
  display: block;
  margin-top: 80vw;
  margin-left:40%;
}
.i12{
  position: absolute;
  display: block;
  margin-top: 80vw;
  margin-left:20%;
}
.i13{
  position: absolute;
  display: block;
  margin-top: 80vw;
  margin-left:0%;
}

.i14{
  position: absolute;
  display: block;
  margin-top: 60vw;
  margin-left:0%;
}

.i15{
  position: absolute;
  display: block;
  margin-top: 40vw;
  margin-left:0%;
}
.i16{
  position: absolute;
  display: block;
  margin-top: 20vw;
  margin-left:0%;
}

.i01{
  /* background-color:#00BCD4; */
  position: absolute;
  display: block;
  margin-top: 0vw;
  width: 20%;
  height: 20vw;
}
.i02{
  position: absolute;
  display: block;
  margin-top: 0vw;
  margin-left:20%;
}
.i03{
  position: absolute;
  display: block;
  margin-top: 0vw;
  margin-left:40%;
}
.i04{
  position: absolute;
  display: block;
  margin-top: 0vw;
  margin-left:60%;
}
.i05{
  position: absolute;
  display: block;
  margin-top: 0vw;
  margin-left:80%;
}

.i06{
  position: absolute;
  display: block;
  margin-top: 20vw;
  margin-left:80%;
}
.i07{
  position: absolute;
  display: block;
  margin-top: 40vw;
  margin-left:80%;
}
.i08{
  position: absolute;
  display: block;
  margin-top: 60vw;
  margin-left:80%;
}
.i09{
  position: absolute;
  display: block;
  margin-top: 80vw;
  margin-left:80%;
}
.i010{
  position: absolute;
  display: block;
  margin-top: 80vw;
  margin-left:60%;
}

.i011{
  position: absolute;
  display: block;
  margin-top: 80vw;
  margin-left:40%;
}
.i012{
  position: absolute;
  display: block;
  margin-top: 80vw;
  margin-left:20%;
}
.i013{
  position: absolute;
  display: block;
  margin-top: 80vw;
  margin-left:0%;
}

.i014{
  position: absolute;
  display: block;
  margin-top: 60vw;
  margin-left:0%;
}

.i015{
  position: absolute;
  display: block;
  margin-top: 40vw;
  margin-left:0%;
}
.i016{
  position: absolute;
  display: block;
  margin-top: 20vw;
  margin-left:0%;
}


.centered{
  position: absolute;
  display: block;
  margin-top: 20vw;
  margin-left:20%;
  width:60%;
  height:60vw;
  /* background: rgba(55, 35, 94, .5); */
}

.i1:hover, .i02:hover, .i03:hover, .i04:hover, .i05:hover, .i06:hover, .i07:hover, .i08:hover, .i09:hover, .i010:hover, .i011:hover, .i012:hover, .i013:hover, .i014:hover, .i015:hover, .i016:hover{

  opacity: 0;
}


#caption{

	width: 20%;
	padding-top: 15vw;
	height:5vw;
	background-clip: content-box;
	background-color: rgba(42, 77, 101, .7);
	color: #fff;
	font-family: "Rajdhani";
	font-size: 1.2vw;


}

#caption > p {
	padding-top: .5vw;
	padding-left: .5vw;
	margin:0;
}


h1{

	font-size: 6vw;
	padding-top: 1vw;
	margin:0;
	text-align: center;
	font-family: "Bungee Shade" ;
	color:#fff;
	background: url('http://backgroundcheckall.com/wp-content/uploads/2017/12/star-wars-stars-background.jpg');
	border-top: 1vw black solid;
}

h2{

	font-size: 1.3vw;
	margin-top: 0vw;
	margin:0;
	text-align: right;
	padding-right:1vw;
	background: rgba(0,0,0, .5);
	/* color: rgb(245, 212, 247); */
	color:white;
	font-family: "Rajdhani";

}

.centered >p{

	font-family:"Questrial";
	font-size: 2vw;
	/* color: rgb(245, 212, 247); */
	color: white;
	padding:3vw;

}

audio {
	width: 80%;
	display: block;
	align: center;
	margin:auto;
}

a > img{
	width: 10vw;
	height:10vw;
}

#side_1{
	position: absolute;
	margin-top:2vw;
	margin-left:3vw;
	display:block;

}

#side_2{
	position: absolute;
	margin-top:2vw;
	margin-left:23vw;
	display:block;

}

#side_3{
	position: absolute;
	margin-top:2vw;
	margin-left:40vw;
	display:block;

}



/*Default links*/
#orlink > a {
font-family:"Rajdhani";
	font-size: 2vw;
	/* color: #220233; */
}

a:hover {

}

/*Horizontal lines*/
hr.short {

}

hr.long {

}

.logo {
	width: 2.75vw;
	height: 2.75vw;
}
